*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* body{
    
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif; 
   

}  */
/* utility css */
.common_heading h4 {
    margin: 60px 0 40px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    position: relative;
}

.common_heading h4::after {
    position: absolute;
    bottom: -7px;
    left: 45.8%;
    content: "";
    height: 3px;
    width: 47px;
    background-color: #0872b9;
}
.common_heading h4::before {
    position: absolute;
    bottom: -7px;
    left: 50.6%;
    content: "";
    height: 3px;
    width: 7px;
    background-color: #0872b9;
}
.common_heading h4 span::after {
    position: absolute;
    bottom: -7px;
    left: 51.5%;
    content: "";
    height: 3px;
    width: 5px;
    background-color: #0872b9;
}
.common_heading h4 span::after {
    position: absolute;
    bottom: -7px;
    left: 51.5%;
    content: "";
    height: 3px;
    width: 5px;
    background-color: #0872b9;
}
.common_heading h4 span::before {
    position: absolute;
    bottom: -7px;
    left: 52.2%;
    content: "";
    height: 3px;
    width: 3px;
    background-color: #0872b9;
}

/* header part css */
header {
    padding: 10px 0px;
    background-color: #0872b9;
}
.header_icon {
    text-align: right;
}
.header-text p{
    color: white;
    font-size: 14px;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.header_icon ul {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
    margin: 0;
}
.header_icon ul li i {
    font-size: 14px;
    color: white;
}
.header_icon ul li i:hover {
    color: black;
}


/* navication part css */
.nav-link {
    color: black;
}

.navbar-nav .nav-item .nav-link.active {
    color: #0872b9;
}
.navbar-nav .nav-item .nav-link:hover {
    color: #0872b9;
}

/* Banner part css */

#banner {
    background: url(../images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner_overlay {
    padding: 88px 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

.banner_content {
    text-align: right;
    color: white;
}

.banner_content h4 {
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif; 
}
.banner_content h1 {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif; 
}
.banner_content p {
    margin-top: 31px;
    font-size: 13px;
    line-height: 25px;
    font-family: 'Open Sans', sans-serif; 
}

.banner_content .banner-button {
    padding-top: 34px;
    transition: all linear .3s;
}
.banner_content .banner-button button {
    color: white;
    border: none;
    background-color: transparent;
    padding: 10px 25px;
    border: 1px solid white;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 20px;
    font-family: 'Oswald', sans-serif;
    transition: all linear .3s;
}

.banner_content .banner-button button:hover {
    background-color: #0872b9;
    border: 1px solid #0872b9;
    transition: all linear .3s;
}

/* abour us part css  */

.about_content{
    margin-top: 45px;
    text-align: justify;
}
.about_content p {
    font-size: 13px;
    line-height: 25px;
    font-family: 'Open Sans', sans-serif;
}
.about_content p:first-child {
    padding-bottom: 20px;
}

/* services part css */
.ser_heading h4::after{
    left: 44%;
}
.ser_heading h4::before{
    left: 48.9%;
}
.ser_heading h4 span::after{
    left: 49.9%;
}
.ser_heading h4 span::before{
    left: 50.6%;
}
.ser_main {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.ser_icon_main {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -35px;
    border: 3px solid white;
    transition: all linear .3s;
}
.ser_icon {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #f1f1f1;
    border: 3px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all linear .3s;
}

.service_content {
    background-color: #f1f1f1;
    padding: 55px 25px 10px;
    text-align: center;
}

.service_content h4{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    padding-bottom: 10px;
}

.service_content p{
    font-size: 14px;
    line-height: 25px;
}
.ser_icon_main:hover,
.ser_icon:hover
{
    background-color: #5bc5f4;
    transition: all linear .3s;
}

.ser_icon_main:hover .ser_icon{
    background-color: #5bc5f4;
    transition: all linear .3s;
}
.ser_main:hover {
    box-shadow: 1px 1px 10px black;
    cursor: pointer;
    transition: all linear .3s;
}

/* portfolio part css */
.small_img {
    margin-bottom: 20px;
    position: relative;
}

.portfolio_overly {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: all linear .3s;
}

.portfolio_overly a {
    height: 40px;
    width: 40px;
    background-color: #5bc5f4;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.small_img:hover .portfolio_overly {
    transform: scale(1);
    transition: all linear .3s;
    cursor: pointer;
}
.big_img{
    position: relative;
}
.big_img:hover .portfolio_overly {
    transform: scale(1);
    transition: all linear .3s;
    cursor: pointer;
}

/* team section css */
.team_img {
    position: relative;
    overflow: hidden;
}
.team_overly {
    height: 100%;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    transform: translateX(220px);
}

.team_icon ul{
    padding: 0;
    margin-top: 20px;
}

.team_overly a {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    margin-bottom: 0;
}

.team_overly ul li{
    padding: 10px 0;
}

.team_img:hover .team_overly{
    transform: translateX(2px);
    transition: all ease .3s;
    cursor: pointer;
}
.team_overly a:hover {
    background-color: #5bc5f4;
}
.team_content h4{
    margin-top: 10px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
}

.team_content h6 {
    font-size: 14px;
    font-weight: 400;
    color: #606060;
}
.team_item:hover .team_content h4 {
    color: #5bc5f4;
}
.team_item:hover .team_img{
    box-shadow: 1px 1px 10px black;
    cursor: pointer;
    transition: all linear .3s;
}

/* testimonial part css */

.testimonial_content {
    text-align: center;
    padding: 23px;
    background-color: #f1f1f1;
    position: relative;
}
.testimonial_content h4{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
}
.testimonial_content h6{
    font-size: 13px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin-bottom: 26px;
    margin-top: 15px;
}

.testimonial_content ul {
    padding: 0;
    margin-bottom: 0;
}
.testimonial_content ul li{
   display: inline-flex;
}

.testimonial_content p{
    text-align: justify;
    padding: 0;
    margin-bottom: 0;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}

.triangel {
    height: 40px;
    width: 40px;
    background-color: #f1f1f1;
    position: absolute;
    top: -18px;
    left: 46%;
    transform: rotate(45deg);
    z-index: -1;
}

/* footer css part */
.footer {
    margin-top: 60px;
    background-color: #353535;
    padding: 20px 0;
}

.footer_conter p{
    color: #f1f1f1;
    font-size: 13px;
    line-height: 26px;

}

.footer_common_head {
    margin-top: 20px;
    margin-bottom: 30px;
    
}
.footer_common_head h4{
    color: white;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;

}

.f_icon {
    height: 35px;
    width: 35px;
    background-color: #0872b9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.f_icon a{
    color: white;
}

.phone_content p {
    margin: 0;
    padding-bottom: 5px;
    color: #f1f1f1;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}
.footer_link{
    padding: 0;
}
.footer_link li a{
    color: #f1f1f1;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}
.footer_link li a:hover{
    color: #5bc5f4;
}
.footer_link li{
    padding-bottom: 5px;
}
.footer_2{
    padding: 10px 0;
    text-align: center;
    background-color: #555555;
}
.footer_2 p{
    margin-bottom: 0px;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    color: #f1f1f1;
}
.footer_2 p span{
    color: #5bc5f4;
}

.f_gallery_img img:hover{
   filter: grayscale();
    cursor: pointer;
    transform: scale(1.1);
}